html {
	background: #f8f8f8;
	margin:0 0 0 -1px;
	padding:0;	
	overflow-Y:scroll;  /*顯示y捲軸*/
}  

body {  
	width: 100vw;
        background-attachment: fixed;
        background-position: left top;
        background-size: cover;
	padding:0;
	margin :0;
	background: url(back.jpg) repeat center top;
}
p {
	letter-spacing: normal; /*字寬*/
	line-height: 1.7em; /*行高*/
}
#B ul li {
			display:block; /*分段顯示*/
			float:left;
			margin:0;
			padding:0;
      background: url("hmenu.jpg") repeat-x top left;


      }
#B ul li a {
				display:block;
				float:left;
				color:#eeeeee; /*灰色*/
				text-decoration:none;
				padding:0px 50px ;
				line-height:30px;
				font-weight:bold;
				letter-spacing:15px;
			}
#banner {  /*大標題的div*/
	margin: 0 auto;
	height:313px;
	width:880px;
}
#B ul {
		display:table;
		margin:auto;
		padding:0;
		list-style-type:none; /*不用設項目符號*/
		position:relative; 
		height:30px;
		text-transform:uppercase; /*大寫*/
		font-size:15px;
		font-family: Verdana,Arial,sans-serif;
	}
#B { 	
	height:30px;
	margin:0 auto ;
	text-align:center;
}
#shadow  /*陰影*/
{	width: 880px;
	background-image:url("back2.jpg") ;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: left top;
            background-size: cover;
		margin:0 auto ;
}
#back{	width: 880px;
	background: url("spurs.jpg") no-repeat center top;
	position: relative;	
}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
#content {
	width:860px;
	margin:0 auto;
	min-height:1200px;
}
#center {
	width:860px;
	padding:0px 0px 0px 0px;
	float:left;
	position:relative; 
	margin:0 auto;
}
.player img{
	box-shadow:3px 3px 12px black;
	padding:8px;
	overflow:hidden;
	position: relative;
	width:30%;
	float:left;
	height:300px;
}

.btn {
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	font-family: Arial;
	font-weight:bold;
	float:left;
	/*font-size: 20px;*/
	text-decoration: none;
	cursor: pointer;
	border: none;
	width: 42px;
	height: 30px;
	position: relative;
	transition: background-color 0.4s;
	overflow:hidden;
  }
  
  .bottom:hover {
	color:dodgerblue;
  }

  .content1 {
	position: absolute;
	/*width: 100px;*/
	font-weight:bold;
	font-size: 10px;
	height: 15px;
	left: 26px;
	text-align: center;
	line-height: 30px;
	/*最後才加上的動畫效果*/
	transition: top 0.3s;
  }

  .top {
	top: 0px;
  }
  
  .btn:hover .top {
	top: -50px;
  }
  
  .bottom {
	top: 50px;
  }
  
  .btn:hover .bottom {
	top: 0px;
  }



